body{background-color:orange; font-family:papyrus}
h1{background-color:lightblue; text-align:center; font-size:40px; margin-top:300px; font-size:100px}
h2{text-align:center; font-size:300%}
a{margin-left:50px; margin-right:50px; text-decoration:none; border-style: dotted dashed ridge double; border-color: green red blue; border-width:5px; color:green}
a:hover{border-style: dashed ridge double dotted; border-color: red blue green; color:violet}
a:active{border-style: ridge double dotted dashed; border-color: blue green red; color:yellow}
a:visited{border-style: double dotted dashed ridge; border-color: green red blue; color:purple}